<div class="container">
    <h1 class="page-header"><%= pageHeader %></h1>


    <ul class="list-group">
        <% data.forEach(function (element) { %>
            <li class="list-group-item">
                <strong><%= element.name %></strong>
            </li>
            <li class="list-group-item">
                <h6>Tags:
                <% element.tagsArray.forEach(function (tagElement) { %>
                    <a href="../tags/<%= tagElement._id %>"><%= tagElement.tag %></a>
                <% }) %>
                </h6>
            </li>

            <li class="list-group-item">
                <%= element.address %>
            </li>
            <li class="list-group-item">
                Reviews:
                <% if(element.reviewsArray[0] !== undefined){ %>
                <%= element.reviewsArray[0].review %>
                <% } %><br>
                <% if(element.reviewsArray[1] !== undefined){ %>
                <%= element.reviewsArray[1].review %>
                <% } %>

                <span>
                <a href='/locations/<%= element._id %>'>View More</a>
                &nbsp;|&nbsp;
                <a href='/locations/<%= element._id %>'>Add Your Review</a>
                </span>

            </li>
            <li class="list-group-item"><h5>
                submitted by:
                <a href="../profile/user/<%= element.posterID %>"><%= element.poster %></a>
            </h5></li>
            <% }) %>
    </ul>

</div>
