<div class="container">
    <h1 class="page-header">Profile Page</h1>

    <h4>Locations you added</h3>
    <ul class="list-group">
        <% locationData.forEach(function (element) { %>
            <li class="list-group-item">
              <a href="/locations/<%= element._id %>"><%= element.name %></a> - <%= element.address %>
            </li>
        <% }) %>
    </ul>

    <h4>Your Reviews</h3>
    <ul class="list-group">
        <% reviewData.forEach(function (element) { %>
            <li class="list-group-item">
                Location: <a href="/locations/<%= element.locationID %>"><%= element.location %></a>
            </li>
            <li class="list-group-item">
            <form method="POST" action="../reviews/<%= element._id %>?_method=PUT">
              Review: <input type="text" class="form-control" id="reviewInput" placeholder="Review" name="review" value="<%= element.review %>">
              <button type="submit" class="btn btn-default">Edit Review</button>
            </form>
            <form method="POST" action="../reviews/<%= element._id %>?_method=DELETE">
              <button type="submit" class="btn btn-default">Remove Review</button>
            </form>
            </li>
        <% }) %>
    </ul>
</div>
