<div class="container">
    <h1 class="page-header"><%= userData.name %>'s Profile Page</h1>

    <h4><%= userData.name %>'s' Submitted Locations</h3>
      <ul class="list-group">
          <% locationData.forEach(function (element) { %>
              <li class="list-group-item">
                  <a href="/locations/<%= element._id %>"><%= element.name %></a> - <%= element.address %>
              </li>
          <% }) %>
      </ul>

    <h4><%= userData.name %>'s' Reviews</h3>
    <ul class="list-group">
        <% reviewData.forEach(function (element) { %>
            <li class="list-group-item">
                Location: <a href="/locations/<%= element.locationID %>"><%= element.location %></a>
            </li>
            <li class="list-group-item">
                Review: <%= element.review %>
            </li>
        <% }) %>
    </ul>

</div>
